{% load static tailwind_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloom Test - Home</title>
    {% tailwind_css %}
</head>
<body class="bg-gray-100 min-h-screen">
    {% include 'partials/navbar.html' %}
    <div class="flex h-[calc(100vh-64px)] overflow-hidden">
        {% include 'partials/left_bar.html' %}
        {% include 'partials/post.html' %}
        {% include 'partials/right_bar.html' %}
    </div>
</body>
</html>
